<footer class="footer">

  <div class="footer__top">

    <div class="footer__logo">
      <img src="../../assets/images/logo.png" alt="ShopPal">
    </div>

    <div class="footer__columns">

      <!-- Column 1 - Shop -->
      <div class="footer__col">
        <h4>Shop</h4>
        <a href="#">All Products</a>
        <a href="#">New Arrivals</a>
        <a href="#">Best Sellers</a>
        <a href="#">Gift Ideas</a>
      </div>

      <!-- Column 2 - Customer Service -->
      <div class="footer__col">
        <h4>Customer Service</h4>
        <a href="#">Contact Us</a>
        <a href="#">FAQs</a>
        <a href="#">Shipping & Returns</a>
      </div>

      <!-- Column 3 - About -->
      <div class="footer__col">
        <h4>About</h4>
        <a href="#">About Us</a>
        <a href="#">Our Story</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms</a>
      </div>

      <!-- Column 4 - Join Us (Social)-->
      <div class="footer__col">
        <h4>Join Us</h4>
        <div class="footer__social">
          <img src="../../assets/icons/youtube.svg" class="icon">
          <img src="../../assets/icons/facebook.svg" class="icon">
          <img src="../../assets/icons/twitter.svg" class="icon">
          <img src="../../assets/icons/instagram.svg" class="icon">
          <img src="../../assets/icons/linkedin.svg" class="icon">
        </div>
      </div>

    </div>

  </div>

  <div class="footer__bottom">
    <p>CompanyName © 202X. All rights reserved.</p>
  </div>

</footer>