<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Design_System\CSS\variables.css" />
  <link rel="stylesheet" href="product_item_small/product_item_small.css" />
  <link rel="stylesheet" href="product_item_large/product_item_large.css" />
  <title>Document</title>
</head>

<body>
  <div class="product-item-small">
    <div class="image-placeholder"></div>
    <div class="frame">
      <p class="text-wrapper">Put the name of your product Here</p>
      <div class="div">$12.99</div>
    </div>
  </div>


  <div class="product-item-large">
    <div class="frame"></div>
    <div class="div">
      <div class="frame-2">
        <div class="star-rating">
          <div class="star"><img class="icon" src="img/icon-2.svg" /></div>
          <div class="icon-wrapper"><img class="icon" src="img/icon-3.svg" /></div>
          <div class="img-wrapper"><img class="icon" src="img/image.svg" /></div>
          <div class="star-2"><img class="icon" src="img/icon.svg" /></div>
          <div class="star-3"><img class="icon" src="img/icon-4.svg" /></div>
        </div>
        <div class="text-wrapper">(2k)</div>
      </div>
      <div class="frame-3">
        <p class="p">Put the name of your product here and don’t forget it has a limit..</p>
        <p class="text-wrapper-2">Put the description of your product here and don’t forget it has a limit..</p>
        <div class="frame-4">
          <div class="text-wrapper-3">$12.99</div>
          <div class="text-wrapper-4">$12.99</div>
        </div>
      </div>
      <div class="frame-5">
        <div class="icon-buttons"><img class="img" src="img/eye.svg" /></div>
        <button class="button">
          <img class="img" src="img/shopping-cart-plus.svg" />
          <div class="button-label">ADD TO CART</div>
        </button>
        <div class="icon-buttons">
          <div class="heart"></div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>