<!DOCTYPE html>

<html>
    <head>
        <title> PersonPreview</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="PersonPreview.css">
        <link rel="stylesheet" href="../../../Design_System/css/variables.css">
    </head>
    <body>
        <div class="person-preview">
            <div class="person-preview-pfp">
                <svg width="180" height="180" viewBox="0 0 180 180" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="90" cy="90" r="90" fill="#D9D9D9"/>
                </svg>
            </div class="person-preview-info">

            <div class="person-preview-info">
                <label>FullName : </label>
                <label>Age: </label>
                <label>Gender: </label>
                <label>Country: </label>
                <label>Number of Orders:</label>
                <label>Number of items: </label>
            </div>
        </div>
    </body>
</html>