<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="product_cards/product_item_small/product_item_small.css" />
  <link rel="stylesheet" href="product_cards/product_item_large/product_item_large.css" />
  <link rel="stylesheet" href="product_cards/product_item/product_item.css" />
  <link rel="stylesheet" href="navbar/navbar.css" />
  <link rel="stylesheet" href="footer/footer.css" />
  <link rel="stylesheet" href="../Shared/iconbuttons.css">
  <link rel="stylesheet" href="../../Design_System/CSS/variables.css">
  <link rel="stylesheet" href="../../Design_System/CSS/fonts.css">
  <link rel="stylesheet" href="categories_section/categories_section.css" />
  <title>Document</title>
</head>

<style>
  body {
    margin: 0;
    padding: 0;
  }
</style>

<body>


  <div class="categories-list">
    <div class="category-element">
      <div class="category-image"></div>
      <p class="category-name">Category Name</p>
    </div>
    <div class="category-element">
      <div class="category-image"></div>
      <p class="category-name">Category Name</p>
    </div>
    <div class="category-element">
      <div class="category-image"></div>
      <p class="category-name">Category Name</p>
    </div>
    <div class="category-element">
      <div class="category-image"></div>
      <p class="category-name">Category Name</p>
    </div>
    <div class="category-element">
      <div class="category-image"></div>
      <p class="category-name">Category Name</p>
    </div>
    <div class="category-element">
      <div class="category-image"></div>
      <p class="category-name">Category Name</p>
    </div>
    <div class="category-element">
      <div class="category-image"></div>
      <p class="category-name">Category Name</p>
    </div>
    <div class="category-element">
      <div class="category-image"></div>
      <p class="category-name">Category Name</p>
    </div>
    <div class="category-element">
      <div class="category-image"></div>
      <p class="category-name">Category Name</p>
    </div>
  </div>

</body>

</html>