<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="product_cards/product_item_small/product_item_small.css" />
  <link rel="stylesheet" href="product_cards/product_item_large/product_item_large.css" />
  <link rel="stylesheet" href="product_cards/product_item/product_item.css" />
  <link rel="stylesheet" href="navbar/navbar.css" />
  <link rel="stylesheet" href="footer/footer.css" />
  <link rel="stylesheet" href="../Shared/iconbuttons.css">
  <link rel="stylesheet" href="../../Design_System/CSS/variables.css">
  <link rel="stylesheet" href="../../Design_System/CSS/fonts.css">
  <title>Document</title>
</head>

<style>
  body {
    margin: 0;
    padding: 0;
  }
</style>

<body>

  <!-- product_card_item -->

  <!-- <div class="product_card_item">
    <div class="top">
      <div class="card-image"><img src="" alt="" style="width: 100%; height: 100%;"></div>
      <img class="card-heart" src="heart-icon.png" />
    </div>
    <div class="buttom">
      <div class="card-content">
        <h3 class="card-title">Put the name of your product here and don’t forget it has a limit..</h3>
        <div class="card-price">
          <span class="price-new">$12.99</span>
          <span class="price-old">$12.99</span>
        </div>
        <div class="card-rating">
          <span class="stars">★★★☆☆</span>
          <span class="reviews">(2k)</span>
        </div>
      </div>
      <div class="card-actions">
        <div class="btn-enabled icon-btn  icon-btn-secondary" style="height: 30px; width: 30px;">
          <img src="sldj"">
        </div>
      </div>
    </div>
  </div> -->

  <!-- product_item_large -->


  <!-- product_item_small -->

  <!-- <div class=" product-item-small">
    <div class="image-placeholder"></div>
    <div class="frame">
      <p class="text-wrapper">Put the name of your product Here</p>
      <div class="price">$12.99</div>
    </div>
  </div> -->

  <header class="navbar">

    <!-- Top Bar -->
    <div class="navbar-top">
      <p>Welcome to ShopPal online eCommerce store.</p>

      <div class="navbar-social">
        <span>Join Us:</span>
        <a href="#"><img src="../../Assets/Icons/Facebook.svg" class="icon"></a>
        <a href="#"><img src="../../Assets/Icons/Twitter.svg" class="icon"></a>
        <a href="#"><img src="../../Assets/Icons/Instagram.svg" class="icon"></a>
      </div>
    </div>

    <!-- Main Bar -->
    <div class="navbar-main">

      <!-- Logo -->
      <div class="navbar-logo">
        <img src="../../Assets/Images/ShopPal-Logo.png" alt="ShopPal">
      </div>

      <!-- Search -->
      <div class="navbar-search">
        <select class="search-category">
          <option>All Items</option>
          <option>Phones</option>
        </select>

        <input type="text" placeholder="Search">

        <button class="search-btn">
          <img src="../../Assets/Icons/search.svg" class="icon">
        </button>
      </div>

      <!-- Actions -->
      <div class="navbar-actions">
        <a href="#"><img src="../../Assets/Icons/shopping-cart.svg" class="icon"></a>
        <a href="#"><img src="../../Assets/Icons/heart.svg" class="icon"></a>
        <a href="#"><img src="../../Assets/Icons/user.svg" class="icon"></a>
      </div>

      <!-- Mobile Menu Button -->
      <div class="navbar-toggle"><img src="../../Assets/Icons/menu.svg" class="icon"></div>

    </div>

    <!-- Bottom Bar -->
    <div class="navbar-bottom">
      <div class="category-btn">
        <span>All Categories</span>
        <img src="../../Assets/Icons/chevron-down.svg" class="icon">
      </div>
      <div class="support">
        <img src="../../Assets/Icons/Headset.svg" class="icon">
        <span>Support</span>
      </div>
    </div>

  </header>

</body>

</html>