<!DOCTYPE html>

<html>
    <head>
        <title>Tap Bar</title>
        <link rel="stylesheet" href="TabBar.css"/>
        <link rel="stylesheet" href="../../../Design_System/css/fonts.css"/>
        <link rel="stylesheet" href="../../../Design_System/css/variables.css"/>
    </head>
    <body>
        <!-- label makes the input for the entire label lol -->
        <div class="inline-display">
            <label class="tab-bar">
                <input type="radio" name="tab-index">
                <i>All Products</i>
            </label>
            <label class="tab-bar">
                <input type="radio" name="tab-index">
                <i>Categories</i>
            </label>
            <label class="tab-bar">
                <input type="radio" name="tab-index">
                <i>Brands</i>
            </label>
        </div>
    </body>
</html>