<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title> Navigatio Bar</title>
        <meta name="Descritption" content="idkman">
        <link rel="stylesheet" href="../../../Design_System/css/variables.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="NavBar.css"/>
        <link rel="stylesheet" href="../../Shared/icons.css"/>
        <link rel="stylesheet" href="../../../Design_System/css/fonts.css">
    </head>
    <body>
        <div class="container">
            <div class="side-bar">
                <div class="side-bar-upper">
                    <div>
                        <span class = "shop-logo"></span>
                    </div>
                    <label class="icon">
                        <input type="checkbox" />
                        <img src="../../../Assets/Icons/menu.svg" class="icon">
                    </label>
                </div>
                <div class="side-bar-mid">
                    <a class="icon" href="google.com">
                        <img src="../../../Assets/Icons/House.svg" class="icon">
                        <i>DashBord</i>
                    </a>
                    <a class="icon">
                        <img src="../../../Assets/Icons/List.svg" class="icon">
                        <i>Product Managment</i>
                    </a>
                    <a class="icon">
                        <img src="../../../Assets/Icons/Bag.svg" class="icon">
                        <i>Orders</i>
                    </a>
                    <a class="icon">
                        <img src="../../../Assets/Icons/Review.svg" class="icon">
                        <i>Reviews</i>
                    </a>
                    <a class="icon">
                        <span class="material-icons">person</span>
                        Customers
                    </a>
                    <a class="icon">
                        <img src="../../../Assets/Icons/Settings.svg" class="icon">
                        Settings
                    </a>
                </div>
                <button>
                    <label class="icon">
                        <img src="../../../Assets/Icons/Exit.svg" class="icon">
                        <i>log Out</i>
                    </label>
                </button>
                </div>
        </div>
    </body>
</html>