<div class="categories-list">
  <a href="../../Pages/Customer/SearchPage/search_page.html" class="category-element category-link">
    <div class="category-image"></div>
    <p class="category-name">Smartphones</p>
  </a>
  <a href="../../Pages/Customer/SearchPage/search_page.html" class="category-element category-link">
    <div class="category-image"></div>
    <p class="category-name">Laptops</p>
  </a>
  <a href="../../Pages/Customer/SearchPage/search_page.html" class="category-element category-link">
    <div class="category-image"></div>
    <p class="category-name">Tablets</p>
  </a>
  <a href="../../Pages/Customer/SearchPage/search_page.html" class="category-element category-link">
    <div class="category-image"></div>
    <p class="category-name">PC Components</p>
  </a>
  <a href="../../Pages/Customer/SearchPage/search_page.html" class="category-element category-link">
    <div class="category-image"></div>
    <p class="category-name">Monitors</p>
  </a>
  <a href="../../Pages/Customer/SearchPage/search_page.html" class="category-element category-link">
    <div class="category-image"></div>
    <p class="category-name">Peripherals</p>
  </a>
  <a href="../../Pages/Customer/SearchPage/search_page.html" class="category-element category-link">
    <div class="category-image"></div>
    <p class="category-name">Networking</p>
  </a>
  <a href="../../Pages/Customer/SearchPage/search_page.html" class="category-element category-link">
    <div class="category-image"></div>
    <p class="category-name">Audio</p>
  </a>
  <a href="../../Pages/Customer/SearchPage/search_page.html" class="category-element category-link">
    <div class="category-image"></div>
    <p class="category-name">Accessories</p>
  </a>
</div>