<div class="categories-list">
  <div class="category-element">
    <div class="category-image"></div>
    <p class="category-name">Category Name</p>
  </div>
  <div class="category-element">
    <div class="category-image"></div>
    <p class="category-name">Category Name</p>
  </div>
  <div class="category-element">
    <div class="category-image"></div>
    <p class="category-name">Category Name</p>
  </div>
  <div class="category-element">
    <div class="category-image"></div>
    <p class="category-name">Category Name</p>
  </div>
  <div class="category-element">
    <div class="category-image"></div>
    <p class="category-name">Category Name</p>
  </div>
  <div class="category-element">
    <div class="category-image"></div>
    <p class="category-name">Category Name</p>
  </div>
  <div class="category-element">
    <div class="category-image"></div>
    <p class="category-name">Category Name</p>
  </div>
  <div class="category-element">
    <div class="category-image"></div>
    <p class="category-name">Category Name</p>
  </div>
  <div class="category-element">
    <div class="category-image"></div>
    <p class="category-name">Category Name</p>
  </div>
</div>