<header class="navbar">

  <!-- Top Bar -->
  <div class="navbar-top">
    <p>Welcome to ShopPal online eCommerce store.</p>

    <div class="navbar-social">
      <span>Join Us:</span>
      <a href="#"><img src="../../Assets/Icons/Facebook.svg" class="icon"></a>
      <a href="#"><img src="../../Assets/Icons/Twitter.svg" class="icon"></a>
      <a href="#"><img src="../../Assets/Icons/Instagram.svg" class="icon"></a>
    </div>
  </div>

  <!-- Main Bar -->
  <div class="navbar-main">

    <!-- Logo -->
    <a href="../../Pages/Customer/HomePage/index.html" class="navbar-logo navbar-logo-link">
      <img src="../../Assets/Images/ShopPal-Logo.png" alt="ShopPal">
    </a>

    <!-- Search -->
    <div class="navbar-search">
      <select class="search-category">
        <option>All Tech</option>
        <option>Smartphones</option>
        <option>Laptops</option>
        <option>Tablets</option>
        <option>PC Components</option>
        <option>Monitors</option>
        <option>Accessories</option>
      </select>

      <input type="text" placeholder="Search tech products">

      <a href="../../Pages/Customer/SearchPage/search_page.html" class="search-btn">
        <img src="../../Assets/Icons/Search.svg" class="icon">
      </a>
    </div>

    <!-- Actions -->
    <div class="navbar-actions">
      <a href="../../Pages/Customer/ShoppingCartPage/shopping_cart_page.html"><img
          src="../../Assets/Icons/shopping-cart.svg" class="icon"></a>
      <a href="#"><img src="../../Assets/Icons/heart.svg" class="icon"></a>
      <a href="#"><img src="../../Assets/Icons/user.svg" class="icon"></a>
    </div>

    <!-- Mobile Menu Button -->
    <div class="navbar-toggle"><img src="../../Assets/Icons/menu.svg" class="icon"></div>

  </div>

  <!-- Bottom Bar -->
  <div class="navbar-bottom">
    <a href="../../Pages/Customer/SearchPage/search_page.html" class="category-btn category-btn-link">
      <span>Tech Categories</span>
      <img src="../../Assets/Icons/chevron-down.svg" class="icon">
    </a>
    <div class="support">
      <img src="../../Assets/Icons/Headset.svg" class="icon">
      <span>Support</span>
    </div>
  </div>

</header>