<header class="navbar">

  <!-- Top Bar -->
  <div class="navbar-top">
    <p>Welcome to ShopPal online eCommerce store.</p>

    <div class="navbar-social">
      <span>Join Us:</span>
      <a href="#"><img src="../../Assets/Icons/Facebook.svg" class="icon"></a>
      <a href="#"><img src="../../Assets/Icons/Twitter.svg" class="icon"></a>
      <a href="#"><img src="../../Assets/Icons/Instagram.svg" class="icon"></a>
    </div>
  </div>

  <!-- Main Bar -->
  <div class="navbar-main">

    <!-- Logo -->
    <div class="navbar-logo">
      <img src="../../Assets/Images/ShopPal-Logo.png" alt="ShopPal">
    </div>

    <!-- Search -->
    <div class="navbar-search">
      <select class="search-category">
        <option>All Electronics</option>
        <option>Smartphones</option>
        <option>Laptops</option>
        <option>Tablets</option>
        <option>Headphones</option>
        <option>Smartwatches</option>
        <option>Cameras</option>
        <option>Gaming Consoles</option>
        <option>Accessories</option>
      </select>

      <input type="text" placeholder="Search">

      <button class="search-btn">
        <img src="../../Assets/Icons/search.svg" class="icon">
      </button>
    </div>

    <!-- Actions -->
    <div class="navbar-actions">
      <a href="#"><img src="../../Assets/Icons/shopping-cart.svg" class="icon"></a>
      <a href="#"><img src="../../Assets/Icons/heart.svg" class="icon"></a>
      <a href="#"><img src="../../Assets/Icons/user.svg" class="icon"></a>
    </div>

    <!-- Mobile Menu Button -->
    <div class="navbar-toggle"><img src="../../Assets/Icons/menu.svg" class="icon"></div>

  </div>

  <!-- Bottom Bar -->
  <div class="navbar-bottom">
    <div class="category-btn">
      <span>All Categories</span>
      <img src="../../Assets/Icons/chevron-down.svg" class="icon">
    </div>
    <div class="support">
      <img src="../../Assets/Icons/Headset.svg" class="icon">
      <span>Support</span>
    </div>
  </div>

</header>