.top-bar{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.32px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:flex-end;
    user-select: none;
    gap: 20px;
    background-color: white;
    margin-bottom: 20px;
}


.top-bar span:hover:first-child{
    background-color: var(--color-gray-300);
    border-radius: 50%;
}
.top-bar span{

    cursor:pointer;
}